<!DOCTYPE html>
<html lang="ro">

<head>
    <title>Site pentru salonul Zuzu - despre</title>
    <meta name="description"
        content="Salonul Zuzu ofera servicii diverse de cosmentica, realizate de cei mai buni experti, la preturi atractive.">
    <meta name="keywords"
        content="Zuzu, par, unghii, Bucuresti, Sector 1, salon, cosmetica,par, unghii, manichiura, vopsit, tratamente faciale, ieftin, profesionist">
    
    <%- include('../fragmente/head.ejs') %>

</head>

<body>
    <%- include('../fragmente/header.ejs') %>
    <main>
        <h1>Despre noi</h1>
        <p>Bine ai venit la salonul Zuzu!</p>
    </main>
    <%- include('../fragmente/footer.ejs') %>
</body>

</html>