<footer>
        <address>
            Telefon: <a href="tel:+40777111222">0777111222</a><br>

            Adresa: Bulevardul Iuliu Maniu 15, Bucuresti<br>
            <a
                href="https://www.google.com/maps/place/Politehnica+Business+Tower/@44.4340819,26.0382199,17z/data=!3m1!4b1!4m6!3m5!1s0x40b201f609995a6f:0x8a7b024778b7d337!8m2!3d44.4340819!4d26.0407948!16s%2Fg%2F11h5lv2n9y?entry=ttu&g_ep=EgoyMDI2MDMwNC4xIKXMDSoASAFQAw%3D%3D">Vezi
                pe hartă</a><br>

            Email: <a href="mailto:contact@zuzu.ro">contact@zuzu.ro</a><br>

            <a href="https://wa.me/40123456789">WhatsApp</a>
        </address>
        <a href="#"  id="link-top">
            <div id="sageata"></div>
        </a>
        <i class="fa-solid fa-envelope-open"></i>
        <p>
            <small>
                &copy; <time datetime="2026-03-08">8 martie 2026</time> Visan Laura
            </small>
        </p>
    </footer>